{%extends 'base.html'%}
{% load static%}
{%block content%}
	<div class="container">
						<header class="major">
							<h2>{{blog.title}}</h2>
						</header>
						<!-- Content -->
							<section id="content">
								<a href="#" style="margin: 0 auto; width: 70vw;" class="image fit"><img src="{{blog.get_image}}" class="blog-img" alt="" /></a>
                            <br>
                        {% for image in images %}
                                <a href="#" style="margin: 0 auto; width: 70vw;" class="image fit"><img src="{{image}}" class="blog-img" alt="" /></a>
                        {% endfor %}
                                <!---------------------------likes----------------------->

                                {% if post_is_liked %}
                                <a href="{% url 'like_blog' blog.id %}" class="button  small ">Unlike</a>
                                {%else%}
						         <a href="{% url 'like_blog' blog.id %}" class="button  small ">Like</a>
                                {%endif%}


                            <strong class="text-secondary" >{{ number_of_likes }} Like{{number_of_likes|pluralize}}</strong>

                                <!------------------endlikes-------------------------->
                                <p>Posted: {{blog.created}}</p>
								<p>Author: {{blog.user.username}}</p>
                                  <pre><code>
                                        {{blog.code}}
                                    </code></pre>
                                   <h3>
                                       {{blog.detail}}
                                   </h3>

                                {% if request.user.is_authenticated %}





                                 <h4>Comment Section</h4>

         <!--------------------------comment------------------>

                            {% for comment in comments %}


                              <div class="comment">
                                <p class="info">
                                  Comment {{ forloop.counter }} by {{ comment.user }}
                                  {{ comment.date_added }}
                                </p>
                                  <h3>{{ comment.body|linebreaks }}</h3>
                              </div>
                            {% empty %}
                              <p>There are no comments yet.</p>
                            {% endfor %}


                          <!--------------------------adding--------------------->и
                        {% if new_comment %}
                          <h2>Your comment has been added.</h2>
                            {% else %}
                          <h2>Add a new comment</h2>
                          <form action="." method="post" style="width:auto;">
                            {{ comment_form.as_p }}
                            {% csrf_token %}
                            <p><input type="submit" value="Add comment"></p>
                          </form>
                            {% endif %}

              <!-----------------------Favorite--------------------->
                                {% if  not favorited %}
                                <a href="{% url 'favorite_blog' blog.id %}" class="button primary small ">Add to chosen</a>
                                {%else%}
						         <a href="{% url 'favorite_blog' blog.id %}" class="button primary small ">Delete from chosen</a>
                                {%endif%}

                                <a href="{% url 'update_blog' blog.id %}" style="width: 25vw;"><i class="fas fa-edit"></i></a>
                                <a href="{% url 'delete_blog' blog.id %}"><i class="fas fa-trash-alt"></i></a>
                                <br>
                                {% endif%}
                            </section>

					</div>
{%endblock%}