{%extends 'base.html'%}
{% load static%}
{%block content%}
<a href="{% url 'add_blog' %}" class="button primary">Add post </a>
<a href="{% url 'blog' %}?filter=new_blog" class="button primary">New posts </a>



			<!-- Main -->
				<div id="main" class="wrapper style1">
                     {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                                <h2>{{message}}</h2>
                    </div>
                            {% endfor %}
                            </ul>
            {% endif %}
					{%for blog in blogs %}
					<div class="container">
						<header class="major">
							<h2>{{blog}}</h2>
						</header>
						<!-- Content -->
							<section id="content">
								<a href="#" style="margin: 0 auto; width: 30vw;" class="image fit"><img src="{{blog.get_image}}" class="blog-img" alt="" /></a>
								<p>Posted: {{blog.created}}</p>

								<h3>Author: {{blog.user.username}}</h3>
								<p> {{blog.description|truncatewords:10}}</p>
								<a href="{% url 'update_blog' blog.id %}" style="width: 25vw;"><i class="fas fa-edit"></i></a>
                                <a href="{% url 'delete_blog' blog.id %}"><i class="fas fa-trash-alt"></i></a>
                                <br>
                                <a href="{% url 'detail' blog.id %}" class="button primary small ">More</a>
							</section>

					</div>
					{%endfor%}
				</div>
{%endblock%}




















