{%extends 'base.html'%}
{% load static%}
{%block content%}
    <section>
        <header class="main">
            <h1>{{ blog.title }}</h1>
        </header>

        <span class="image main"><img src="{{ blog.get_image }}" style="width: auto; height: auto;" alt="" /></span>

        <p>Posted: {{ blog.created }}</p>
        <p>Author: {{ blog.user.username }}</p>
        <pre><code>
            {{blog.code}}
        </code></pre>
         <h3>
           {{blog.detail}}
       </h3>

        <hr class="major" />

        <a href="{% url 'update_blog' blog.id %}" style="width: 25vw;"><i class="fas fa-edit"></i></a>
        <a href="{% url 'delete_blog' blog.id %}"><i class="fas fa-trash-alt"></i></a>
        <br>
        <a href="#" class="button primary small ">Add to chosen</a>

    </section>
{%endblock%}