{%extends 'base.html'%}
{% load static%}
{%block content%}
<h1>New Posts</h1>
 <section id="search" class="alt">
			<form method="get" action="{% url 'blog' %}">
				<input type="text" name="q" id="query" placeholder="Search" />
			</form>
		</section>



			<!-- Main -->
				<div id="main" class="wrapper style1">
                     {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                                <h2>{{message}}</h2>
                    </div>
                            {% endfor %}
                            </ul>
            {% endif %}
					{%for blog in blogs %}
					<div class="container">
						<header class="major">
							<h2>{{blog.title}}</h2>
						</header>
						<!-- Content -->
							<section id="content">
								<a href="#" style="margin: 0 auto; width: 70vw;" class="image fit"><img src="{{blog.get_image}}" class="blog-img" alt="" /></a>
                            <br>

                                <p>Posted: {{blog.created}}</p>
								<p>Author: {{blog.user.username}}</p>
                                  <pre><code>
                                        {{blog.code}}
                                    </code></pre>
                                   <h3>
                                       {{blog.detail|truncatewords:10}}
                                   </h3>


								<a href="{% url 'update_blog' blog.id %}" style="width: 25vw;"><i class="fas fa-edit"></i></a>
                                <a href="{% url 'delete_blog' blog.id %}"><i class="fas fa-trash-alt"></i></a>
                                <br>
                                <a href="{% url 'detail' blog.id %}" class="button primary small ">More</a>
                                <a href="#" class="button primary small ">Add to chosen</a>

							</section>

					</div>
                    {%endfor%}
				</div>
{% endblock %}